<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterTech Solutions - Portafolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/Style.css">

</head>
<body>
    <!-- Encabezado -->
    <header class="text-white text-center">
        <div class="logo-circle">
            <img src="static/logo.png" alt="MasterTech Solutions">
        </div>
        <h1>MasterTech Solutions</h1>
        <p>Estrategia, seguridad y tecnología para tu empresa.</p>
        <a href="https://citas.mastertechsolution.me/" class="btn btn-primary mt-3">Agendar cita</a>
        <a href="https://odoo.mastertechsolution.me/" class="btn btn-primary mt-3">Odoo</a>
        <a href="https://api.mastertechsolution.me/" class="btn btn-primary mt-3">Api</a>

    </header>

    <!-- Sobre nosotros -->
    <section id="nosotros" class="bg-light">
        <div class="container">
            <h2 class="text-center">Sobre nosotros</h2>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                        <p class="lead">
                            En <strong>MasterTech Solutions</strong>, somos una empresa apasionada por la innovación tecnológica y la resolución de problemas complejos. Nos especializamos en el desarrollo de soluciones personalizadas que combinan estrategia, seguridad y tecnología para impulsar el éxito de tu negocio.
                            <br><br>
                            Nuestra experiencia abarca tres pilares fundamentales:
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="fas fa-check-circle text-primary me-2"></i>Desarrollo de software personalizado</li>
                                <li><i class="fas fa-check-circle text-primary me-2"></i>Consultoría tecnológica estratégica</li>
                                <li><i class="fas fa-check-circle text-primary me-2"></i>Servicios avanzados de ciberseguridad</li>
                            </ul>
                            <br>
                            Nos distinguimos por nuestro compromiso con la excelencia y la innovación continua. Cada proyecto que emprendemos se beneficia de las últimas tecnologías y mejores prácticas de la industria, garantizando soluciones robustas y escalables que impulsan el crecimiento de tu negocio.
                            <br><br>
                            En el actual panorama digital, la seguridad es primordial. Por ello, implementamos protocolos de seguridad de última generación, salvaguardando tus activos digitales contra amenazas emergentes y garantizando la continuidad de tu negocio.
                            <br><br>
                            Confía en <strong>MasterTech Solutions</strong> para llevar tu visión tecnológica al siguiente nivel. Estamos aquí para convertir tus objetivos empresariales en realidades tangibles.
                        </p>
                    <div class="row mt-5">
                        <div class="col-md-4 mb-4">
                            <div class="p-4 bg-white rounded shadow-sm">
                                <i class="fas fa-chess fa-3x mb-3 text-primary"></i>
                                <h4>Estrategia</h4>
                                <p>Planes tecnológicos adaptados a tus objetivos de negocio.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="p-4 bg-white rounded shadow-sm">
                                <i class="fas fa-shield-alt fa-3x mb-3 text-primary"></i>
                                <h4>Seguridad</h4>
                                <p>Protección de datos y sistemas para tu tranquilidad.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="p-4 bg-white rounded shadow-sm">
                                <i class="fas fa-code fa-3x mb-3 text-primary"></i>
                                <h4>Tecnología</h4>
                                <p>Soluciones innovadoras para desafíos complejos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Proyectos -->
    <section id="proyectos">
        <div class="container">
            <h2 class="text-center">Nuestros Proyectos</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="static/Financial.jpeg" class="card-img-top" alt="Proyecto 1">
                        <div class="card-body">
                            <h5 class="card-title">Sistema integral de administración de créditos financieros(Financial).</h5>
                            <p class="card-text">Plataforma especializada en la gestión completa de créditos financieros, diseñada para agilizar el control de clientes, préstamos, pagos y capital empresarial con precisión y seguridad.</p>
                            <div class="tech-tags mb-3">
                                <span class="badge bg-secondary">Python</span>
                                <span class="badge bg-secondary">Flask</span>
                                <span class="badge bg-secondary">PostgreSQL</span>
                            </div>
                            <a href="#" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="static/logo.jpeg" class="card-img-top" alt="Proyecto 2">
                        <div class="card-body">
                            <h5 class="card-title">Optimización de Reportes en Looker Studio(GNP Seguros®)</h5>
                            <p class="card-text">Implementación de un sistema de visualización de datos para GNP, trasladando sus tablas de Ranking de Ajustadores desde Excel a Looker Studio mediante la integración de BigQuery y Google Sheets, mejorando la accesibilidad y análisis de la información.</p>
                            <div class="tech-tags mb-3">
                                <span class="badge bg-secondary">Google Sheets</span>
                                <span class="badge bg-secondary">Looker Studio</span>
                                <span class="badge bg-secondary">BigQuery</span>
                            </div>
                            <a href="#" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="static/logo.jpeg" class="card-img-top" alt="Proyecto 3">
                        <div class="card-body">
                            <h5 class="card-title">Aplicación Móvil</h5>
                            <p class="card-text">App desarrollada para iOS y Android con funciones de geolocalización y notificaciones push.</p>
                            <div class="tech-tags mb-3">
                                <span class="badge bg-secondary">Flutter</span>
                                <span class="badge bg-secondary">Firebase</span>
                            </div>
                            <a href="#" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Habilidades -->
    <section id="habilidades" class="bg-light">
        <div class="container">
            <h2 class="text-center">Nuestras Habilidades</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mb-4"><i class="fas fa-laptop-code me-2"></i> Desarrollo</h4>
                    <ul>
                        <li>Frontend: HTML5, CSS3, JavaScript, Bulma, Bootstrap</li>
                        <li>Backend: Laravel, php, Python, Django, Flask, C++, Java</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-4"><i class="fas fa-database me-2"></i> Bases de Datos</h4>
                    <ul>
                        <li>Relacionales: MySQL, PostgreSQL, SQLite </li>
                        <li>NoSQL: MongoDB, Firebase, Cassandra</li>
                        <li>Optimización y diseño de esquemas</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h4 class="mb-4"><i class="fas fa-shield-alt me-2"></i> Seguridad</h4>
                    <ul>
                        <li>Auditorías de seguridad</li>
                        <li>Recoleccion de informacion Pasiva-Activa</li>
                        <li>Protección contra vulnerabilidades</li>
                        <li>Cifrado de datos</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-4"><i class="fas fa-tools me-2"></i> Herramientas</h4>
                    <ul>
                        <li>Control de versiones: Git, GitHub, Bitbucket</li>
                        <li>Contenedores: Docker, Kubernetes</li>
                        <li>CI/CD: Jenkins, GitHub Actions</li>
                        <li>Office: Word, Excel, Power Ponit, Publisher, Power Bi, etc  </li>
                        <li>Google: Looker Studio, BigQuery</li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-4"><i class="fa-solid fa-display"></i> Sistemas Operativos</h4>
                    <ul>
                        <li>Windows</li>
                        <li>Linux (Ubuntu, Kali Linux)</li>
                        <li>MacOS</li>

                    </ul>
                </div>
                
            </div>
        </div>
    </section>

        <!-- Costos -->
    <section id="costos" class="bg-light">
        <div class="container">
            <h2 class="text-center">Nuestros Costos</h2>
            <p class="lead text-center mb-5">Precios ajustados a tu medida</p>
            <div class="row justify-content-center">

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-project-diagram fa-3x mb-3 text-primary"></i>
                            <h4 class="card-title">Proyectos</h4>
                            <h2 class="card-price">Desde $5,000 MXN</h2>
                            <p class="card-text">Desarrollo completo de proyectos a medida</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-sync-alt fa-3x mb-3 text-primary"></i>
                            <h4 class="card-title">Suscripción Mensual</h4>
                            <h2 class="card-price">Desde $5,000 MXN</h2>
                            <p class="card-text">Soporte y mantenimiento continuo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacto -->
<section id="contacto" class="bg-primary text-white">
    <div class="container">
        <h2 class="text-center contacto">Contacto</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="lead mb-5">¿Listo para llevar tu proyecto al siguiente nivel? Contáctanos a través de los siguientes medios:</p>
                
                <div class="contact-info mb-5">
                    <div class="mb-4">
                        <i class="fas fa-envelope fa-2x mb-2"></i>
                        <h4>Email</h4>
                        <p>contacto@ejemplo.com</p>
                    </div>
                    
                    <div class="mb-4">
                        <i class="fas fa-phone fa-2x mb-2"></i>
                        <h4>Teléfono</h4>
                        <p>+52 55 1234 5678</p>
                    </div>
                    
                    <div class="mb-4">
                        <i class="fas fa-map-marker-alt fa-2x mb-2"></i>
                        <h4>Dirección</h4>
                        <p>Av. Ejemplo 123, Col. Centro<br>Ciudad de México, CDMX</p>
                    </div>
                </div>
         </section>

    <!-- crear seccion de costos  -->

    <!-- Pie de página -->
    <footer>
        <div class="container">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="mb-0">&copy; 2025 MasterTech Solutions. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>